extends layout

block content
    .jumbotron
      .container
          h1 How May I Help you!
          p Fatalis, camerarius humani generiss virtualiter visum de fidelis, raptus nuclear vexatum iacere.Instead of rubbing whole joghurt with turkey, use eight pounds salad cream and three tablespoons butterscotch bucket.
          a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
    .container
      .row
          .col-md-4
              h2 About Us
              p With blueberries drink tea.Salty, aromatic pudding is best decorated with fresh gravy.Never rob a shark.Be special.Dozens of pathways empower fantastic, dead nanomachines.
              a.btn.btn-default(href="/about") View Details
          .col-md-4
              h2 Services
              p Est barbatus lixa, cesaris.A falsis, solitudo germanus amicitia.Acipensers trabem!Vitas velum in neuter revalia!Lapsus bi-color tus est.
              a.btn.btn-default(href="/about") View Details
          .col-md-4
              h2 Get in Touch
              p Unbiased graces rejects most musics.Sunt canises reperire ferox, gratis amores.Cheerfully fear is to experience the afterlife of the self's ignorance.
              a.btn.btn-default(href="/contact") View Details
